@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/*
    Alata: font-family: 'Alata', sans-serif; | Title
*/

html,body
{
    width: 100%;
    overflow-x: hidden; 
    overscroll-behavior: none;
    height: 3010px;
}


body {
    overscroll-behavior: none;
    background-color: black;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 5%, rgba(9,9,121,1) 40%, rgba(158,0,255,1) 100%);
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(10px); /* blur effect */
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .navbar li {
    margin: 0 5px;
  }
  
  .navbar a {
    font-family: "Quicksand";
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #5899e2;
    background-color: transparent;
    transition: 0.3s;
    border-radius: 5px;
  }
  
  .navbar a:hover {
    background-color: #274060;
    color: #fff;
  }

.tinytxt {
    position: absolute;
    font-family: 'Alata', sans-serif;
    padding-top: 125px;
    color: whitesmoke;
    font-size: 10px;
    padding-left: 80px;
    text-align: left;
}

b {
    color: #cc00ff;
    text-shadow: 0px 0px 15px rgba(255,255,255,0.50);
    animation: b 3s linear infinite;
}

@keyframes b {
  0% {
    color: #cc00ff
  }
  50%{
    color:#86beff
  }
  100%{
    color:#cc00ff
  }
}

h1 {
    position: relative;
    font-family: 'Alata', sans-serif;
    padding-top: 125px;
    color: whitesmoke;
    font-size: 90px;
    padding-left: 80px;
    text-align: left;
}

h4 {
  position: relative;
  font-family: 'Alata', sans-serif;
  padding-top: 900px;
  color: whitesmoke;
  font-size: 90px;
  padding-left: 80px;
  text-align: left;
}



img {
  width: 500px;
  height: 500px;
  position: absolute;
  padding: 70px 930px;
  opacity: 0.5;
  animation: img 10s linear infinite;
}

@keyframes img {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.4;
  }

  75% {
    opacity: 0.6;
  }

  100%{
    opacity: 0.5;
  }
}

h2 {
    font-family: 'Alata', sans-serif;
    padding-top: 250px;
    padding-left: 60px;
    color: whitesmoke;
    font-size: 50px;
    text-align: left;
    position: absolute;
}

h6 {
  font-family: 'Alata', sans-serif;
  padding-top: 150px;
  color: whitesmoke;
  font-size: 70px;
  text-align: center;
  position: absolute;
}

h5 {
  font-family: 'Alata', sans-serif;
  padding-top: 650px;
  padding-left: 40px;
  color: whitesmoke;
  font-size: 50px;
  text-align: left;
  position: absolute;
}

footer {
  background-color:#274060;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(255,255,255,0.50);
  height: 150px;
  border-radius: 10px;
  left: 49%; 
  top: 50%;
  right: 0;
  font-family: 'Alata', sans-serif;
  color: whitesmoke;
}

p {
  top: 50%;
  left: 50%;
  font-family: 'Alata', sans-serif;
  text-align: center;
  font-size: 30px;
  color: whitesmoke;
}

.faqbox {
  background-color: #cc00ff;
  padding: 80px;
  position: relative;
  top: 0;
  right: 0;
  left: 49%; 
  transform: translateX(-50%);
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(255,255,255,0.50);
  text-align: left;
  display: flex;
}

span {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 20%;
  top: 25%;
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
}

span-2 {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 17%;
  top: 70%;
  font-size: 35px;
  font-family: 'Alata', sans-serif;
  color: #fff;
  animation: faqanswer 3s linear infinite;
  line-height: 30px;
}

span-3 {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 21.8%;
  top: 25%;
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
}

span-4 {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 24.5%;
  top: 70%;
  font-size: 35px;
  font-family: 'Alata', sans-serif;
  color: #fff;
  animation: faqanswer 3s linear infinite;
  line-height: 30px;
}

span-5 {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 21%;
  top: 25%;
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
}

span-6 {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 23%;
  top: 70%;
  font-size: 35px;
  font-family: 'Alata', sans-serif;
  color: #fff;
  animation: faqanswer 3s linear infinite;
  line-height: 30px;
}

@keyframes faqanswer {
  0% {
    color: #fff
  }
  50%{
    color:#86beff
  }
  100%{
    color: #fff;
  }
}

h3 {
  position:absolute;
  font-family: 'Alata', sans-serif;
  padding-top: 550px;
  padding-left: 370px;
  color: whitesmoke;
  font-size: 50px;
  text-align: right;
}

.card {
    z-index: 6;
}

@media screen and (max-width:768px)
{

  span {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 20%;
    top: 25%;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
  }
  
  span-2 {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 17%;
    top: 70%;
    font-size: 17.5px;
    font-family: 'Alata', sans-serif;
    color: #fff;
    animation: faqanswer 3s linear infinite;
    line-height: 30px;
  }
  
  span-3 {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 21.8%;
    top: 25%;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
  }
  
  span-4 {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 24.5%;
    top: 70%;
    font-size: 17.5px;
    font-family: 'Alata', sans-serif;
    color: #fff;
    animation: faqanswer 3s linear infinite;
    line-height: 30px;
  }
  
  span-5 {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 21%;
    top: 25%;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
  }
  
  span-6 {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 23%;
    top: 70%;
    font-size: 17.5px;
    font-family: 'Alata', sans-serif;
    color: #fff;
    animation: faqanswer 3s linear infinite;
    line-height: 30px;
  }

  .faqbox {
    background-color: #cc00ff;
    padding: 100px;
    position: relative;
    top: 0;
    right: 0;
    left: 49%; 
    transform: translateX(-50%);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(255,255,255,0.50);
    text-align: center;
    display: flex;
  }

  h4 {
    padding-top: 75px;
    font-size: 40px;
    padding-left: 0px;
    text-align: center;
}

h1 {
    padding-top: 75px;
    font-size: 40px;
    padding-left: 0px;
    text-align: center;
}

h3 {
  position: absolute;
  font-size: 20px;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;

}

h2 {
  position: absolute;
  font-size: 20px;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;

}

img {
  display: none;
}


}
